{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
		{% if post.published_date %}
			<aside class="date">gepostet am {{ post.published_date|date:'d.m.Y' }}
			</aside>
		{% else %}
			<aside class="actions"> 
				<form method="POST" action="{% url 'post_publish' pk=post.pk %}" class="post-form">{% csrf_token %}
				<button type="submit" class="post btn btn-secondary" name="publish">{% include './icons/arrow-up-right-square.svg' %}</button>
				</form>
			</aside>
		{% endif %}
		<h2>{{ post.title }}</h2>
		{% if user.is_authenticated %}
			<aside class="actions">
				<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"> {% include './icons/pencil-fill.svg' %}
				</a>
				<form method="POST" action="{% url 'post_remove' pk=post.pk %}" class="post-form">{% csrf_token %} 
				<button type="submit" class="post btn btn-danger" name="delete"> {% include './icons/trash.svg' %}
				</button>
				</form>
			</aside> 
		{% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endblock %}